/*reset e impostazioni pag*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body {
    width: 512px;
    border: 2px dashed black;
}

/*utility*/
.text-uppercase {
    text-transform: uppercase
}

/*font*/

.font-dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.sigmar-regular {
  font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*header*/
.header-image {
   background-size: cover;     
    background-position: center; 
    background-repeat: no-repeat;  
    width: 100%;
}

/*section*/
.site-body {
    background-color:rgba(25, 29, 123) ;
}

.title1 {
    color: white;
    border-width: 50px;
    text-align: center;
    padding: 1px 80px;
    margin-top: 70px;
    line-height: 1;
}

.text1 {
    color: white;
     text-align: center;
    border-width: 50px;
    padding: 15px 80px;
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

/* Bottone bianco */
.btn-primary {
    background: white;
    color: black; 
    position:relative;
    left: 25%;
}

/* Bottone viola */
.btn-secondary {
    background: rgba(88, 101, 242);
    color: white;
    position:relative;
    left: 20%;
}

.card-title {
    color: white;
    text-align: left;
    border-width: 50px;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 30px;
    line-height: 1;
}


.card-text {
    color: white;
    text-align: left;
    border-width: 50px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 30px;
}

.card {
    background-color: rgba(93, 100, 209);
    border-color: rgba(93, 100, 209);
    border-radius: 30px;
    margin :35px;
    position:relative;
}

.card-image {
    width: 400px;
    height: auto;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 60px;
   
}

.icona2 {
    width:100px;
    height:auto;
    position:absolute;
    top: -50px ;
    left:50px;
}

.icona3 {
    width:100px;
    height:auto;
    position:absolute;
    top: -50px ;
    left:50px;
}